@mixin flexRow {
  display: flex;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRowCenter {
  @include flexRow;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnCenter {
  @include flexColumn;
  justify-content: center;
  align-items: center;
}

@mixin flexRowVerticalCenter {
  @include flexRow;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexColumnHorizontalCenter {
  @include flexColumn;
  justify-content: flex-start;
  align-items: center;
}

@mixin unselectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;    /* Firefox all             */
  -ms-user-select: none;     /* IE 10+                  */
  user-select: none;
}


